#home {
    display: flex;
    justify-content: center; /* Centraliza os elementos horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    background: linear-gradient(90deg, var(--color-accent-1), var(--color-primary-3));
    color: var(--color-primary-1);
    padding: 2rem;
    min-height: calc(100vh - 91px);
}


.cta {
    padding: 2rem;
    max-width: 800px;
    text-align: center;
    gap: 28px;
}


.cta h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: var(--color-primary-1);
}

.cta p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 30px;
    color: var(--color-primary-1);
}

.cta-buttons {
    display: flex;
    gap: 20px;
}

.cta-buttons a {
    text-decoration: none;
}

.cta-buttons a .btn-padrao {
    align-items: center;
    padding: 10px 14px;
}

.cta-buttons a#phone_btn {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1rem;
    color: var(--color-primary-1);
}

.cta .title {
    color: var(--color-accent-1); /* Rosa vibrante */
}

.descricao {
    color: var(--color-primary-1);
}
