@import url('https://fonts.googleapis.com/css2?family=Amarante&display=swap');
@import url('home.css');

:root {
    --color-primary-1: #111011; /* Preto profundo */
    --color-primary-2: #FFF5F5; /* Branco rosado */
    --color-primary-3: #2F4858; /* Azul acinzentado */
    --color-primary-4: #325077; /* Azul escuro */

    --color-accent-1: #E51D66; /* Rosa vibrante */
    --color-accent-2: #BD3689; /* Rosa médio */
    --color-accent-3: #894A97; /* Roxo suave */
    --color-accent-4: #55518F; /* Roxo escuro */

    --color-neutra-1: #7a7a7a;
    --color-neutra-2: #efefef;
}



body {
    background: linear-gradient(135deg, var(--color-accent-1), var(--color-primary-3));
    color: var(--color-primary-1);
    margin: 0;
    font-family: 'Amarante', sans-serif;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: linear-gradient(90deg, var(--color-accent-1), var(--color-primary-3));
    color: var(--color-primary-2);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header {
    background: linear-gradient(90deg, var(--color-accent-1), var(--color-primary-3));
    color: var(--color-primary-2); /* Texto claro */
    padding: 1rem;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 20px;
    margin-left: auto; /* Empurra a lista para a direita */
}

.nav-link {
    text-decoration: none;
    color: var(--color-primary-2);
    font-weight: bold;
}

.nav-link:hover {
    color: var(--color-accent-1);
}

.btn-padrao {
    border: none;
    display: inline-block;
    padding: 12px 20px;
    font-weight: 700;
    font-size: 14px;
    background-color: var(--color-accent-1);
    color: var(--color-primary-2);
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-padrao:hover {
    background-color: var(--color-accent-2);
    color: var(--color-primary-1);
}